<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anangkur.jcanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".highlevel.AnimatedVisibilityActivity"/>
        <activity android:name=".highlevel.AnimateContentSizeActivity"/>
        <activity android:name=".highlevel.CrossFadeActivity"/>

        <activity android:name=".animationspecs.TweenActivity"/>
        <activity android:name=".animationspecs.SpringActivity"/>
        <activity android:name=".animationspecs.KeyFramesActivity"/>
        <activity android:name=".animationspecs.RepeatableActivity"/>
        <activity android:name=".animationspecs.InfiniteRepeatableActivity"/>
        <activity android:name=".animationspecs.SnapActivity"/>
    </application>

</manifest>